* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header {
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 1px 0px 20px 0px #53504b;
}

.menu li:hover > svg,
.menu li:hover {
    color: white;
    fill: white;
}

.menu-projects {
    flex: 1;
    padding-left: 1em;
    font-size: 20px;
    color: #53504b;
}

.logo {
    font-size: 40px;
    margin: 1em 0 1em 0.5em;
    font-weight: 1000;
    color: #282725;
}

ul li {
    display: flex;
    padding: 0;
    margin-top: 1em;
    align-items: center;
    gap: 10px;
}

svg {
    width: 32px;
    fill: #282725;
}

.projects {
    margin: 4em 0 1em 1em;
    height: 325px;
    overflow-y: auto;
}

.projects li:hover {
    color: white;
}

.create-project {
    width: 80%;
    height: 4em;
    margin: 0 1em 1em 2em;
    border-radius: 6em;
    border-style: none;
    box-shadow: 12px 15px 30px -10px #53504b;
    background-color: white;
}

.create-project:hover {
    background-color: rgb(235, 235, 235);
}

.container {
    display: flex;
    flex-direction: column;
}

.setting-header {
    background-color: white;
    height: 4em;
    padding: 1em 5em 0 0;
    text-align: right;
}

.content {
    background-color: white;
    flex: 1;
    padding: 0 4em 0 6em;
}

.content button:hover {
    background-color: #bdb8ad;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-width: 30em;
    min-height: 20em;
    border-radius: 8px;
    text-align: center;
    background-color: oldlace;
    border: 1px solid #282725;
}

.project-title,
.home-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    align-items: center;
    color: #282725;
}

.project-title button,
.project-title select {
    min-width: 5em;
    border-radius: 20px;
    padding: 0.5em 0 0.5em 0;
    border: none;
    margin: 0 0.5em 0 0.5em;
}

.project-title select {
    text-align: center;
    padding-left: 1em;
    color: #53504b;
    background-color: #e3ddd1;
}

.todo-items {
    color: #53504b;
    height: 600px;
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0 14em 2em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #53504b;
    max-width: 60em;
}

button {
    color: #53504b;
    background-color: #e3ddd1;
}

.data {
    min-width: 75%;
}

.item h3 {
    color: #282725;
    padding-bottom: 1em;
}

#due-date {
    margin-top: 0.5em;
    text-align: right;
}

.item-options {
    border-left: 1px solid #53504b;
    display: flex;
}

.item-options button {
    min-width: 4em;
    border-radius: 20px;
    padding: 0.25em 0 0.25em 0;
    border: none;
    margin-left: 1em;
}

.newToDoItem {
    display: flex;
    justify-content: right;
}

.newToDoItem > button {
    min-width: 8em;
    border-radius: 20px;
    padding: 0.5em 0 0.5em 0;
    border: none;
    margin: 0 0.5em 0 0.5em;
}

.block {
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 999;
    border-radius: 4px;
}

.edit-todo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #282725;
    padding: 1em 1em 1em 1em;
    border-radius: 8px;
}

.edit-todo > label {
    color: white;
}

.edit-todo > input,
.edit-todo > textarea {
    padding: 0.5em;
    border-radius: 2px;
    border-style: none;
}

.edit-todo .buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    min-width: 8em;
    border: none;
    border-radius: 8px;
    padding: 1em;
}

.buttons button:hover,
.new-project button:hover {
    background-color: #bdb8ad;
}

.new-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.new-project input {
    padding: 1em;
}

.new-project button {
    margin: 0 1em 0 1em;
}

